<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../public/Css/style.css">
     <title>Document</title>
</head>

<body>
     {{!-- here we eneter a new header , just the name of the file --}}
     {{>header}}
     <h5>My test page for hbs</h5>
     <script src="/fetch.js"></script>
</body>

</html>